/* menghilangkan scollbar pada crhome dan edge */
::-webkit-scrollbar{
    display: none;
}

/* menghilangkan scollbar pada firefox */
html{
    scroll-behavior: auto;
    scrollbar-width: none;
}

body{
    margin: 0;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
    color: white;
    background-color: #0a0a0a;
}

p{
    margin: 0;
}

li{
    list-style: none;
}

header, section, footer {
    margin: 0;
    min-height: 100vh;
}

/* header */
header{
    margin: 0;
    font-size: 4vw;
    letter-spacing: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Montserrat', sans-serif ;
    overflow: hidden;
}

header::before{
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: header-circle1 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: 1.5s;
}

header h1{
    width: 0;
    max-height: 20vh;
    padding: 30px 0;
    left: 50%;
    text-align: center;
    color: #000;
    background: white;
    overflow: hidden;
    animation: h1-move 1.5s forwards cubic-bezier(0.8, 0.82, 0.17, 1);
    animation-delay: 1s;
}

header h1::before{
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: header-circle2 1.5s forwards cubic-bezier(0.8, 0.82, 0.17, 1);
    animation-delay: 1.7s;
}

header h1::after{
    content: "";
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #ffffff;
    animation: h1-ball 1s forwards ease-out;
    z-index: -1;
}

@keyframes h1-ball {
    from{
        top: -20%;
    }
    to{
        top: 50%;
    }
}

@keyframes h1-move {
    0%{
        max-height: 0;
        width: 0;
        color: white;
        border-radius: 50%;
    }
    40%{
        max-height: 20vh;
        width: 20vh;
        border-radius: 2vh;
    }
    70%{
        max-height: 20vh;
        width: 100%;
        color: white;
        border-radius: 0%;
    }
    100%{
        max-height: 20vh;
        width: 100%;
        color: black;
    }
}

@keyframes header-circle1 {
    from{
        border: 0vw;
        width: 0;
        height: 0;
    }
    to{
        border: 2vw solid white;
        width: 55vw;
        height: 55vw;
    }
}

@keyframes header-circle2 {
    from{
        border: 0vw;
        width: 0;
        height: 0;
    }
    to{
        border: 4vw solid white;
        width: 75vw;
        height: 75vw;
    }
}

/* pengertian */

.pengertian{
    height: 90vh;
    padding-top: 3vw;
    margin: 0;
    color: black;
    background: #ffffff;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pengertian h2{
    max-width: 400px;
    height: fit-content;
    margin-top: 0 ;
    padding: 20px 0;
    padding-left: 0vw;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: black;
    transform: translateX(-100%);
    transition: 1s;
}

.pengertian p{
    width: 55%;
    height: 30%;
    margin: 10% auto;
    font-size: 150%;
    line-height: 130%;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
    transition: 1.5s;
    align-self: center;
}

.pengertian strong{
    font-size: 107%;
}

.pengertian.animate h2{
    transform: translateX(0);
}

.pengertian.animate p{
    transform: translateY(0);
    opacity: 1;
}

/* pengenalan */
.pengenalan{
    height: 115vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.pengenalan p{
    width: 70%;
    font-size: 4vw;
    line-height: 130%;
    letter-spacing: -1px;
    cursor: default;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

.pengenalan.animate p{
    opacity: 1;
    transition-duration: 800ms;
}

.pengenalan .pengenalan-1{
    color: #000;
}

.pengenalan .pengenalan-containt{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-row: 1;
}

.pengenalan-sub{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    background: #000;
    border-top: 1px solid ;
}

.pengenalan.animate .pengenalan-sub{
    width: 100%;
    animation: sub-pengertian 4s forwards linear;
}

.pengenalan.animate .pengenalan-sub:nth-child(1){
    animation-delay: 1.5s;
}

.pengenalan.animate .pengenalan-sub:nth-child(2){
    animation-delay: 2s;
}

.pengenalan.animate .pengenalan-sub:nth-child(3){
    animation-delay: 2.5s;
}

@keyframes sub-pengertian {
    0%{
        transform: translateX(-100%);
    }
    20%{
        transform: translateX(0);
    }
    80%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }

}

/* business */
.business{
    min-height: 420vh;
    /* padding-inline: 10vw; */
    position: relative;
    color: black;
    background-color: #fff;
}

.business h3{
    width: fit-content;
    margin: 0 auto 20px;
    font-size: 7vw;
    /* transform: translateX(-200%); */
}

.business p{
    font-size: 1.5vw;
    line-height: 1.3;
    letter-spacing: 1px;
}

.business .business-explain{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: ; */
    perspective: 1000px;
}

.business-explain p{
    max-width: 50%;
    margin: 40px auto;
    text-align: center;
    transition-delay: 1000ms;
    /* transform: translateX(200%); */
    
}

.business .business-content{
    min-height: 70vh;
    padding-inline: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.business-content:nth-child(3),
.business-content:nth-child(5){
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    position: relative;
    right: 0;
    transform: translateX(50%);
}

.business-content:nth-child(2),
.business-content:nth-child(4){
    transform: translateX(-50%);
}

.business-content {
    opacity: 0;
    width: 43vw;
    transition: 500ms ease-out;
}

.business h4{
    width: 100%;
    font-size: clamp(2.5rem, 4vw, 4vw);
}

.business-explain h3,
.business-explain p{
    transition: 800ms ease-out;
    opacity: 0;
    transform: translateZ(-1000px);
}


.business-explain.animate h3,
.business-explain.animate p{
    transform: translateZ(0px);
    opacity: 1;
}

.business-content.animate {
    opacity: 1;
    transform: translateX(0);
}

.business-transision{
    min-height: 80vh;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
}

.business-transision .b-trans{
    width: 10px;
    height: 10px;
    border-radius: 50vw 50vw 0 0;
    background: #000;
    transition: 1s;
    position: absolute;
}

.business-transision.animate .b-trans{
    width: 200vw;
    height: 200vh;
}

/* healtcare */
.healtcare{
    max-height: 110vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #000;
    scroll-snap-type: x mandatory;
    background: #000;
}

.healthcare-content{
    min-height: 35vh;
    min-width: 86vw;
    padding: 100px;
    background: #fff;
    scroll-snap-align: center;
}

.healthcare-content h3, 
.healthcare-content h4{
    margin-top: 0;
    margin-bottom: 3%;
    font-size: clamp(2.5rem, 4vw, 4vw)
}

.healthcare-content p{
    width: 80%;
    
}


/* education */
/* .education{
    display: grid;
    place-items: center;
    color: black;
    background-color: #fddc59;
} */



/* .penutup, footer, .education, canvas, header, .pengertian, 
.pengenalan, .business{
    display: none;
} */


@media (max-width:750px) {
    .pengertian h2{
        min-width: 100%;
    }
    .pengertian p{
        width: 80%;
        font-size: 4.5vw;
    }
    .pengertian span{
        display: none;
    }

    .business h3{
        font-size: 15vw;
    }

    .business p{
        width: 85%;
        font-size: 2vh;
    }

    .business-explain p{
        max-width: 100%;
    }

    .business-content {
        width: 90vw;
    }

    .business-content:nth-child(3) p,
    .business-content:nth-child(5) p{
        align-self: self-end;
    }

    .healthcare-content{
        min-height: 100vh;
        min-width: 80vw;
        padding-inline: 10vw;
        background: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .healtcare p{
        width: 100%;
    }

}
