/* menghilangkan scollbar pada crhome dan edge */
::-webkit-scrollbar{
    display: none;
}

/* menghilangkan scollbar pada firefox */
html{
    scroll-behavior: auto;
    scrollbar-width: none;
}

body{
    margin: 0;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
    color: white;
    background-color: #0a0a0a;
}

p{
    margin: 0;
}

li{
    list-style: none;
}

header, section, footer {
    margin: 0;
    min-height: 100vh;
}

/* header */
header{
    margin: 0;
    font-size: 4vw;
    letter-spacing: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Montserrat', sans-serif ;
    overflow: hidden;
}

header::before{
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: header-circle1 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: 1.5s;
}

header h1{
    width: 0;
    max-height: 20vh;
    padding: 30px 0;
    left: 50%;
    text-align: center;
    color: #000;
    background: white;
    overflow: hidden;
    animation: h1-move 1.5s forwards cubic-bezier(0.8, 0.82, 0.17, 1);
    animation-delay: 1s;
}

header h1::before{
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: header-circle2 1.5s forwards cubic-bezier(0.8, 0.82, 0.17, 1);
    animation-delay: 1.7s;
}

header h1::after{
    content: "";
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #ffffff;
    animation: h1-ball 1s forwards ease-out;
    z-index: -1;
}

@keyframes h1-ball {
    from{
        top: -20%;
    }
    to{
        top: 50%;
    }
}

@keyframes h1-move {
    0%{
        max-height: 0;
        width: 0;
        color: white;
        border-radius: 50%;
    }
    40%{
        max-height: 20vh;
        width: 20vh;
        border-radius: 2vh;
    }
    70%{
        max-height: 20vh;
        width: 100%;
        color: white;
        border-radius: 0%;
    }
    100%{
        max-height: 20vh;
        width: 100%;
        color: black;
    }
}

@keyframes header-circle1 {
    from{
        border: 0vw;
        width: 0;
        height: 0;
    }
    to{
        border: 2vw solid white;
        width: 55vw;
        height: 55vw;
    }
}

@keyframes header-circle2 {
    from{
        border: 0vw;
        width: 0;
        height: 0;
    }
    to{
        border: 4vw solid white;
        width: 75vw;
        height: 75vw;
    }
}

/* pengertian */

.pengertian{
    height: 90vh;
    padding-top: 3vw;
    margin: 0;
    color: black;
    background: #ffffff;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pengertian h2{
    max-width: 400px;
    height: fit-content;
    margin-top: 0 ;
    padding: 20px 0;
    padding-left: 0vw;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: black;
    transform: translateX(-100%);
    transition: 1s;
}

.pengertian p{
    width: 55%;
    height: 30%;
    margin: 10% auto;
    font-size: 150%;
    line-height: 130%;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
    transition: 1.5s;
    align-self: center;
}

.pengertian strong{
    font-size: 107%;
}

.pengertian.animate h2{
    transform: translateX(0);
}

.pengertian.animate p{
    transform: translateY(0);
    opacity: 1;
}

/* pengenalan */
.pengenalan{
    height: 115vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.pengenalan p{
    width: 70%;
    font-size: 4vw;
    line-height: 130%;
    letter-spacing: -1px;
    cursor: default;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

.pengenalan.animate p{
    opacity: 1;
    transition-duration: 800ms;
}

.pengenalan .pengenalan-1{
    color: #000;
}

.pengenalan .pengenalan-containt{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-row: 1;
}

.pengenalan-sub{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    background: #000;
    border-top: 1px solid ;
}

.pengenalan.animate .pengenalan-sub{
    width: 100%;
    animation: sub-pengertian 2s forwards linear;
}

.pengenalan.animate .pengenalan-sub:nth-child(1){
    animation-delay: 2s;
}

.pengenalan.animate .pengenalan-sub:nth-child(2){
    animation-delay: 2.5s;
}

.pengenalan.animate .pengenalan-sub:nth-child(3){
    animation-delay: 3s;
}

@keyframes sub-pengertian {
    0%{
        transform: translateX(-100%);
    }
    70%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }

}

/* business */
.business{
    min-height: 420vh;
    position: relative;
    color: black;
    background-color: #fff;
    overflow: hidden;
}

.business h3{
    width: fit-content;
    margin: 0 auto 20px;
    font-size: 7vw;
}

.business p{
    font-size: 1.5vw;
    line-height: 1.3;
    letter-spacing: 1px;
}

.business .business-explain{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.business-explain p{
    max-width: 50%;
    margin: 40px auto;
    text-align: center;
    transition-delay: 1000ms;
    
}

.business .business-content{
    min-height: 70vh;
    padding-inline: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.business-content:nth-child(3),
.business-content:nth-child(5){
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    position: relative;
    right: 0;
    transform: translateX(50%);
}

.business-content:nth-child(2),
.business-content:nth-child(4){
    transform: translateX(-50%);
}

.business-content {
    opacity: 0;
    width: 43vw;
    transition: 500ms ease-out;
}

.business h4{
    width: 100%;
    font-size: clamp(2.5rem, 4vw, 4vw);
}

.business-explain h3,
.business-explain p{
    transition: 100ms ease-out;
    opacity: 0;
    transform: translateZ(-1000px);
}


.business-explain.animate h3,
.business-explain.animate p{
    transform: translateZ(0px);
    opacity: 1;
}

.business-content.animate {
    opacity: 1;
    transform: translateX(0);
}

.business-transision{
    min-height: 80vh;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
}

.business-transision .b-trans{
    width: 0px;
    height: 0px;
    border-radius: 50vw 50vw 0 0;
    background: #000;
    transition: 1s;
    position: absolute;
}

.business-transision.animate .b-trans{
    width: 200vw;
    height: 200vh;
}

/* healtcare */
.healtcare{
    max-height: 110vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #000;
    scroll-snap-type: x mandatory;
    background: #000;
}

.healthcare-content{
    min-height: 40vh;
    min-width: 100vw;
    padding: 100px;
    padding-right: 0;
    margin-right: 20vw;
    background: #000;
    /* scroll-snap-align: center; */
    position: relative;
    overflow: hidden;
    transition-delay: 1s;
}

.healthcare-content h3, 
.healthcare-content h4{
    margin-top: 0;
    margin-bottom: 3%;
    font-size: clamp(2.5rem, 4vw, 4vw)
}

.healthcare-content p{
    width: 80%;
    
}

.healthcare-content.animate{
    background: #fff;
}

.healthcare-content::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #ffffff;
    top:  50%;
    left: 50vw;
    transform: translate(-50%,-50%);
    opacity: 1;
}

.healthcare-content.animate::before{
    width: 2000px;
    height: 2000px;
    transition: 1s;
    animation-delay: 5s;
    animation: healthcare-ball 2000ms ease-out forwards;
}

.healthcare-content:last-of-type{
    margin: 0;
}

.healtcare .healthcare2{
    height: 1px;
    min-width: 1px;
}

@keyframes healthcare-ball {
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* education */
.education{
    height: 150vh;
    background: #fff;
}

.education .education-content{
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    position: sticky;
    top: 0;
}

.education .education-part{
    width: 60vw;
    height: 97vh;
    padding-top: 10px;
    padding-right: 30px;
    margin: 50px 0;
    margin-left: auto;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    scroll-snap-align: start;
}

.education h4,
.education h3{
    min-width: 350px;
    height: 100%;
    padding-left:30px;
    margin-right: 30px;
    font-size: 53px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #000;
    color: #fff;
}

.education-part p{
    transform: translateX(100%);
    opacity: 0;
    transition: 300ms ease-out;
}

.education-part.animate p{
    transform: translateX(0);
    opacity: 1;
}

.education .edu-trigger{
    width: 1px;
    height: 1px;
    background:  transparent;
}


/* penutup */
.penutup{
    font-size: clamp(1.5rem, 3vw, 3vw);
    font-weight: 600;
    overflow-y: scroll;
    text-align: center;
    background: #fff;
    color: #000;
    transform:translate3d(10px);
}

.penutup .penutup-up{
    height: 200vh;
    padding-block: 100px;
    padding-inline: 10vw;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background: #000;
    clip-path: polygon(0 0, 100% 0, 65% 70%, 85% 70%, 50% 100%, 15% 70%, 35% 70%);
}

.penutup-up p:nth-child(2){
    font-size: clamp(2.5rem, 5vw, 5vw);
}

.penutup .penutup-down{
    height: 100vh;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    perspective: -100px;
    z-index: 0;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 7vw;
}

footer p{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: 500ms ease-out;
}

footer p.animate{
    opacity: 1;
}

@media (max-width:750px) {
    .pengertian h2{
        min-width: 100%;
    }
    .pengertian p{
        width: 80%;
        font-size: 4.5vw;
    }
    .pengertian span{
        display: none;
    }

    .business h3{
        font-size: 15vw;
    }

    .business p{
        width: 85%;
        font-size: 2vh;
    }

    .business-explain p{
        max-width: 100%;
    }

    .business-content {
        width: 90vw;
    }

    .business-content:nth-child(3) p,
    .business-content:nth-child(5) p{
        align-self: self-end;
    }

    .healthcare-content{
        min-height: 100vh;
        min-width: 80vw;
        padding-inline: 10vw;
        background: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .healtcare p{
        width: 100%;
    }

    .arrow{
        width: 10vw;
        height: 1vw;
        right: 15%;
        bottom: 15vh;
        position: absolute;
        background: #ffffff;
        animation: right 2s infinite;
    }

    @keyframes right {
        0%,100%{
            right: 18%;
        }
        50%{
            right: 15%;
        }
    }

    .arrow::after{
        content: '';
        width: 5vw;
        height: 5vw;
        left: 100%;
        bottom: -200%;
        position: absolute;
        background: #ffffff;
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    }

    .arrow-down{
        min-width: 1vh;
        min-height: 10vh;
        margin-right: 10vh;
        right: -15%;
        bottom: 50%;
        position: absolute;
        background: #ffffff;
        animation: bottom 2s infinite;
    }

    @keyframes bottom {
        0%,100%{
            bottom: 47%;
        }
        50%{
            bottom: 50%;
        }
    }

    .arrow-down::after{
        content: '';
        width: 5vw;
        height: 5vw;
        left: 50%;
        bottom: -20%;
        transform: translateX(-50%);
        position: absolute;
        background: #ffffff;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    }

    .healthcare-content{
        opacity: 0;
        transition: 1s;
    }

    .healthcare-content.animate{
        background: #000000;
        opacity: 1;
    }
    
    .healthcare-content::before{
        display: none;
    }
    
    .healthcare-content.animate::before{
        display: none;
    }

    .education{
        height: 150vh;
        width: 100vw;
        margin: 0;
        display: block;
    }

    .education .education-part{
        margin: 0;
        padding: 0;
        padding-top: 10vh;
        width: 100vw;
        height: 100vh;
        gap: 10vh;
        overflow: hidden;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .education-part h3,
    .education-part h4{
        min-width: fit-content;
        max-height: 30vw;
        margin: 0;
        padding: 0;
        font-size: clamp(2rem, 5vh, 5vh);
        border-radius: 0;
        text-align: center;
        display: flex;
        align-items: start;
        background: transparent;
        color: #000;
    }

    .education-part p{
        margin-bottom: auto;
        padding-inline: 5vw;
    }

    .penutup .penutup-up{
        height: 100vh;
        clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 90%, 0 75%);
    }

}
